.single_X {
    background-color: white;
    border-radius: 10%;
    border: none;
    box-shadow: 0px 0px 2px #888;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 2px;
    color: blue;
}

.single_X:hover {
    box-shadow: 0px 0px 5px #888;
}

.single_O {
    background-color: white;
    border-radius: 10%;
    border: none;
    box-shadow: 0px 0px 2px #888;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 2px;
    color: red;
}

.single_O:hover {
    box-shadow: 0px 0px 5px #888;
}